// Specific CSS for your home-page
// Specific CSS for your home-page
.app-container {
  width: 100%;
  height: 60vh;
}

body {
  background-color: #faf6e9;
}

.landing {
  width: 100%;
  background-color: #16383a;
  height: 100%;
  text-align: center;
  padding-top: 18vh;
}

.landing img {

  // width: 500px;
  // height: 500px;
}

.text-container {
  padding-top: 1.5rem;
  // margin-top: 7vh;
  text-align: center;
}

.title2 {
  // height: 25vh;
}

.title2 h3 {
  color: #16383a;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // font-family: 'Frank Ruhl Libre', serif;
  font-size: 22px;
  font-weight: 500;
  padding-top: 6%;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 2.5;
}

.title h3 {
  color: #16383a;
  letter-spacing: .2rem;
  font-family: "Nunito", "Helvetica", "sans-serif";
  // font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // font-family: 'Frank Ruhl Libre', serif;
  font-size: 28px;
  font-weight: 500;
}

.text {
  margin-top: 4vh;
  padding-right: 30vw;
  padding-left: 30vw;
}

.text::after {
  content:'';
  height: 0.5px;
  width:20%;
  background: #16383a;
  position:absolute;
  left:calc(50% - 10%);
  bottom: 6vh;
}

.text p {
  text-transform: uppercase;

  letter-spacing: 0.2rem;
  color: #16383a;
  font-size: 14px;
  font-family: 'Frank Ruhl Libre', serif;
}

.text h6 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // font-family: 'Frank Ruhl Libre', serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: #16383a;
  padding-top: 4vh;
}

@media(max-width: 992px) {
  .landing img {
    width: 70%;
    height: 70%;
    padding-top: unset;
  }

  .landing {
    padding-top: unset
  }

  .title h3 {
    font-size: 18px;
  }

  .text-container {
    margin-top: unset;
  }

  .app-container {
    height: 32vh;
  }

  .text {
    margin-top: unset;
    padding: 2rem;
  }

  .text p {
    font-size: 16px;
  }

  .landing {
    height: unset;
  }

}


.img_cont {
  background-color: #faf6e9;
  width: 100vw;
}

.img_cont h1 {
  font-size: 60px;
  color: #faf6e9;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // font-family: 'Frank Ruhl Libre', serif;
  font-weight: 700;
  position: absolute;
  top: 258px;
  left: 0;
  width: 100%;
}


.vignette {

  position: absolute;
  top: 333px;
  left: 0;
}


.rotate {
  position: absolute;
  top: -93px;
  left: 58%;
  animation: rotation 40s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



.img_cont p {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // font-family: 'Crimson Text';
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
  color: #faf6e9;

  position: absolute;
  top: 333px;
  left: 0;
  width: 100%;
}

.tocenter {
  width: 100%;
  text-align: center;
}


.img_main img {
  position: relative;
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

.Our {
  width: 100vw;
  object-fit: cover;
  // width: -webkit-fill-available;
}


.box-container {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  // justify-content: space-evenly;
  gap: 2rem;
}

.box {
  position: relative;
  width: 600px;
  height: 333px;
  border: #16383a;
  border-width: 1px;
  border-style: solid;
}

.box-title {
  top: 20%;
  position: relative;
}

.box-title h3 {
  color: #16383a;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.description {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.description h4 {
  padding-left: 20px;
  padding-right: 20px;
  color: #16383a;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // padding: 80px;
  font-size: 14px;
  font-weight: 300;
}

.description2 {
  padding-top: 2%;
  padding-left: 20%;
  padding-right: 20%;
}

.description2 p {
  line-height: 2.5;
  padding-left: 20px;
  padding-right: 20px;
  color: #16383a;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // padding: 80px;
  font-size: 14px;
  font-weight: 300;
}


#myBtn2 {
  margin-right: 35%;
  margin-left: 35%;
  top: 60%;
  position: relative;
  font-weight: 900;
  font-family: "Century Gothic", 'Lato', sans-serif;
  letter-spacing: .2rem;
  font-size: 16px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: solid 1px #16383a;
  color: #16383a;
  cursor: pointer;
}

#myBtn2:hover {
  background: #16383A;
  color: #FAF6E9;
  border: none;
}

h1 {
  margin: 0;
  padding: 0;
}
h1 {
  color: blue;
  font-size: 4rem;
  text-align: center;
}

section {
  // height: 60vh;
}
.tag {
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.yellow {
  background-color: #ffd046;
}
.red {
  background-color: #FAF6E9;
  height: fit-content;
  padding-bottom: 6rem;

}
.blue {
  vertical-align: middle;
  display: table-cell;
  height: 50vh;
  background-color: #ffd046;
}
.green {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #FAF6E9;
}

.brown {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #FAF6E9;
}



.container2 {
  display: flex;
  justify-content: center;
}

.text-tech {
  width: 745px;
}

.text-tech h3 {
  text-align: left;
  line-height: 2.5;
  color: #16383a;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.text-tech p {
  text-align: left;
  line-height: 2.5;
  color: #16383a;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.text-tech2 {
  width: 745px;
}

.text-tech2 h3 {
  text-align: right;
  line-height: 2.5;
  color: #16383a;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.text-tech2 p {
  padding-left: 20%;
  text-align: right;
  line-height: 2.5;
  color: #16383a;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
}



.img_recept {
  width: 745px;
}

.img_recept2 {
  // width: 745px;
}


.img_recept2 img {
  // padding-left: 0%;
  // padding-top: 8%;
}


.img_recept img {
  padding-left: 20%;

}





.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
  top: 15%;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__info {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.carousel h1 {
  text-align: left;
  font-size: 21px;
  z-index:30000;
  color: black;
}

.carousel__descr {
  width: 100%;
  top: 100%;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

.carousel__descr h3 {
  font-size: 18px;
  z-index:30000;
  color: white;
  padding: 30px;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}


.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 200px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -80px;
}

.carousel__button--right {
  right: -80px;
}

.carousel__button img {
  width: 40px;
  height: 40px;
}

.carousel__nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}

.carou-box {
  display: flex;
  justify-content: center;
}

.carou_text {
  width: 50%;
  height: 61vh;
  background-color: #FAF6E9;
  padding-top: 7rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.carou_text p {
  padding-top: 2rem;
  line-height: 2;
  color: #16383a;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.carou_photo {
  text-align: center;
  padding-top: 8%;
  width: 50%;
  height: 61vh;
  background-color: #FAF6E9;
}

.title-carou {
  position: relative;
  top: 119px;
  text-align: center;
  color: #16383a;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 28px;
  font-weight: 600;
}







//New stuff

.titlecont {

}

.textone {
  text-align: center;

  // height: 25vh;
}

.textone p {
  padding-left: 10%;
  padding-right: 10%;
  color: #16383a;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // font-family: 'Frank Ruhl Libre', serif;
  font-size: 22px;
  font-weight: 500;
}

.texttwo {
  text-align: center;

  // height: 25vh;
}

.texttwo p {
  line-height: 2.5;
  padding-left: 10%;
  padding-right: 10%;
  color: #16383a;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // padding: 80px;
  font-size: 14px;
  font-weight: 300;
}
