<!-- <div class="app-container">
  <div class="landing">
    <%= image_tag("brand.png", alt: "logo le huntist") %>
  </div>

</div>

<div class="text-container">
  <div class="title">
    <h3>Coming Soon</h3>
  </div>
  <div class="text">
    <p>
      The first independent style hunter club sourcing on-demand the finest of your wardrobe. Now and everywhere
    </p>
    <h6>- Le Huntist Trademark Owned by Advanced Retail SAS -</h6>
  </div>
</div>



<div style="display: none">test</div>
 -->

<div class="img_cont">
  <img class="img_main" src="assets/back4.png" alt="">
  <div class="tocenter">

    <h1>Easy Company.</h1>
    <p>- Your Digital Ally -</p>
    <img class="rotate" src="assets/vignette2.png" alt="">
  </div>
</div>



<section class="tag red">
  <div class="text-container">
    <div class="title">
      <h3>We power professinals, to go further, faster.</h3>
    </div>
    <div class="box-container">
      <div class="box">
        <div class="box-title">
          <h3>Lorem Ispum</h3>
        </div>
        <div class="description">
          <h4>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint facilis minus ipsam eaque?
          </h4>
        </div>
        <div id="myBtn2" style="">
          Check it >
        </div>
      </div>
      <div class="box">
        <div class="box-title">
          <h3>Lorem Ispum</h3>
        </div>
        <div class="description">
          <h4>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint facilis minus ipsam eaque?
          </h4>
        </div>
        <div id="myBtn2" style="">
          Check it >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tag blue">
    <div class="text-container">
      <div class="title2">
        <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nobis, facilis rem, consectetur corrupti magni...</h3>
      </div>
      <div class="descr-container">
        <div class="description2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur omnis alias voluptatibus, repellat eligendi velit magni tempore quibusdam qui natus aperiam iste. Assumenda, illum! Cupiditate facere nobis ab iusto laudantium.</p>
        </div>
      </div>
    </div>
</section>

<section class="tag green">
  <div class="container2">
    <div class="text-tech">
      <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa distinctio sunt eveniet nam earum, culpa obcaecati tenetur quisquam. Doloremque enim minus nihil ipsum fugiat voluptates magni amet ut rem quis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi similique.</p>
    </div>
    <div class="img_recept">
      <img  src="assets/group-logo.png" alt="">
    </div>
  </div>
</section>


<section class="tag green" style="background: #CE6C47;">
  <div class="container2">
    <div class="img_recept2">
      <img  src="assets/team.png" alt="">
    </div>
    <div class="text-tech">
      <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa distinctio sunt eveniet nam earum, culpa obcaecati tenetur quisquam. Doloremque enim minus nihil ipsum fugiat voluptates magni amet ut rem quis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi similique.</p>
    </div>
  </div>
</section>


<!--
<section class="tag green" style="background: #CE6C47;">
  <div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
      <img
        style="transform: rotate(180deg);"
        src="https://image.flaticon.com/icons/png/128/860/860828.png"
        alt=""
      />
    </button>
    <div class="carousel__track-container">
      <ul class="carousel__track">
        <li class="carousel__slide current-slide">
          <div class="carousel__info">
            <h1>01 / LA PÊCHE</h1>
          </div>
          <div class="carousel__descr">
            <h3>La pêche à la mouche est la technique la plus populaire pour capturer le saumon. C'est une méthode qui conjugue technicité et sensation pour le plus grand bonheur de tous les pêcheurs.</h3>
          </div>
          <img
            class="carousel__image"
            src="https://images.unsplash.com/photo-1501177205451-70e35058c1a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80=1&w=1500"
            alt=""
          />
        </li>
        <li class="carousel__slide">
          <div class="carousel__info">
            <h1>02 / LE TRANSPORT</h1>
          </div>
          <div class="carousel__descr">
            <h3>Conditionnés sous glace dans des caisses en polystyrène, les saumons sont transportés entiers et éviscérés, sous glace, par camion frigo, dans le plus grand respect de la chaîne du froid.</h3>
          </div>
          <img
            class="carousel__image"
            src="https://www.dfmsaveurs.be/slider/image-thumb__22__section-slider-img/step-01.jpeg=1&w=1500"
            alt=""
          />
        </li>
        <li class="carousel__slide">
          <div class="carousel__info">
            <h1>03 / LE PPRÉ-FILTAGE</h1>
          </div>
          <div class="carousel__descr">
            <h3>La première phase consiste en l’élimination, sur chaque poisson, du mucus résiduel afin de supprimer les bactéries provoquant la listeria monocytogenes. Ce pré-filetage permet de vérifier l’état de fraîcheur des saumons. Ensuite, après avoir été entièrement nettoyés, les saumons sont filetés à la main. Les filets sont séparés et l’arête centrale est enlevée.</h3>
          </div>
          <img
            class="carousel__image"
            src="https://www.dfmsaveurs.be/slider/image-thumb__37__section-slider-img/step-02.jpeg=1&w=1500"
            alt=""
          />
        </li>
        <li class="carousel__slide">
          <div class="carousel__info">
            <h1>04 / LE SALAGE</h1>
          </div>
          <div class="carousel__descr">
            <h3>Un processus rigoureux, un produit de grande qualité. Sur chaque filet, un dépôt de sel sec est effectué par massage. Le filet est salé sur les 2 côtés, chair et peau. La teneur en sel est d’environ 2%.</h3>
          </div>
          <img
            class="carousel__image"
            src="https://www.dfmsaveurs.be/slider/image-thumb__35__section-slider-img/step-03.jpeg=1&w=1500"
            alt=""
          />
        </li>
        <li class="carousel__slide">
          <div class="carousel__info">
            <h1>05 / LE RINÇAGE</h1>
          </div>
          <div class="carousel__descr">
            <h3>Les filets sont ensuite rincés à l’eau claire. Lors de cette opération, chaque filet est pris individuellement : l’eau enlève l’excès de sel et le filet ainsi salé est reposé sur grille et est remis au frigo pendant plus de 24 heures.</h3>
          </div>
          <img
            class="carousel__image"
            src="https://www.dfmsaveurs.be/slider/image-thumb__36__section-slider-img/step-04.jpeg=1&w=1500"
            alt=""
          />
        </li>
        <li class="carousel__slide">
          <div class="carousel__info">
            <h1>06 / LE FUMAGE</h1>
          </div>
          <div class="carousel__descr">
            <h3>Survient alors le fumage. Celui-ci se fait à froid, sous température contrôlée, avec des copeaux de bois de hêtre. Le temps de fumage varie selon la taille des filets et se fait dans une cellule conditionnée qui permet de contrôler le flux de fumée, la température de la cellule et son degré d’humidité ambiante.</h3>
          </div>
          <img
            class="carousel__image"
            src="https://www.dfmsaveurs.be/slider/image-thumb__38__section-slider-img/step-05.jpeg=1&w=1500"
            alt=""
          />
        </li>
        <li class="carousel__slide">
          <div class="carousel__info">
            <h1>07 / LE PARAGE ET DÉSARÊTAGE</h1>
          </div>
          <div class="carousel__descr">
            <h3>Après avoir été salés et fumés, les saumons sont parés et désarêtés à la main. Cette opération consiste en l’ablation de la graisse du flanc et des nageoires du saumon. Le désarêtage est effectué avec une pince en inox. Cette opération garantit qu’aucune arête ne subsiste dans le filet avant le tranchage.</h3>
          </div>
          <img
            class="carousel__image"
            src="https://www.dfmsaveurs.be/slider/image-thumb__34__section-slider-img/step-06.jpeg=1&w=1500"
            alt=""
          />
        </li>
        <li class="carousel__slide">
          <div class="carousel__info">
            <h1>08 / LA DÉCOUPE</h1>
          </div>
          <div class="carousel__descr">
            <h3>Prêt à déguster!</h3>
          </div>
          <img
            class="carousel__image"
            src="https://www.dfmsaveurs.be/slider/image-thumb__33__section-slider-img/step-07.jpeg=1&w=1500"
            alt=""
          />
        </li>
      </ul>
    </div>
    <button class="carousel__button carousel__button--right">
      <img
        src="https://image.flaticon.com/icons/png/128/860/860828.png"
        alt=""
      />
    </button>
    <div class="carousel__nav">
      <button class="carousel__indicator current-slide"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
    </div>
  </div>
</section> -->

<div class="text-container">
  <div class="title">
    <h3>Coming Soon</h3>
  </div>
</div>

<!--
<script>

  const track = document.querySelector(".carousel__track");
  const slides = Array.from(track.children);
  const nextButton = document.querySelector(".carousel__button--right");
  const prevButton = document.querySelector(".carousel__button--left");
  const dotsNav = document.querySelector(".carousel__nav");
  const dots = Array.from(dotsNav.children);

  const slideWidth = slides[0].getBoundingClientRect().width;

  //Arange slides next to one to each other

  const setSlidePosition = (slide, index) => {
    slide.style.left = slideWidth * index + "px";
  };
  slides.forEach(setSlidePosition);

  const moveToSlide = (track, currentSlide, targetSlide) => {
    track.style.transform = "translateX(-" + targetSlide.style.left + ")";
    currentSlide.classList.remove("current-slide");
    targetSlide.classList.add("current-slide");
  };

  const updateDots = (currentDot, targetDot) => {
    currentDot.classList.remove("current-slide");
    targetDot.classList.add("current-slide");
  };

  const hideShowArrows = (slides, prevButton, nextButton, targetIndex) => {
    if (targetIndex === 0) {
      prevButton.classList.add("is-hidden");
      nextButton.classList.remove("is-hidden");
    } else if (targetIndex === slides.length - 1) {
      prevButton.classList.remove("is-hidden");
      nextButton.classList.add("is-hidden");
    } else {
      prevButton.classList.remove("is-hidden");
      nextButton.classList.remove("is-hidden");
    }
  };

  //when I click left, move slide to left

  prevButton.addEventListener("click", (e) => {
    const currentSlide = track.querySelector(".current-slide");
    const prevSlide = currentSlide.previousElementSibling;
    const currentDot = dotsNav.querySelector(".current-slide");
    const prevDot = currentDot.previousElementSibling;
    const prevIndex = slides.findIndex((slide) => slide === prevSlide);

    moveToSlide(track, currentSlide, prevSlide);
    updateDots(currentDot, prevDot);
    hideShowArrows(slides, prevButton, nextButton, prevIndex);
  });

  //when i click right, slide moves to right

  nextButton.addEventListener("click", (e) => {
    const currentSlide = track.querySelector(".current-slide");
    const nextSlide = currentSlide.nextElementSibling;
    const currentDot = dotsNav.querySelector(".current-slide");
    const nextDot = currentDot.nextElementSibling;
    const nextIndex = slides.findIndex((slide) => slide === nextSlide);

    moveToSlide(track, currentSlide, nextSlide);
    updateDots(currentDot, nextDot);
    hideShowArrows(slides, prevButton, nextButton, nextIndex);
  });

  //when i click the nav indicator, go to slide

  dotsNav.addEventListener("click", (e) => {
    const targetDot = e.target.closest("button");

    if (!targetDot) return;

    const currentSlide = track.querySelector(".current-slide");
    const currentDot = dotsNav.querySelector(".current-slide");
    const targetIndex = dots.findIndex((dot) => dot === targetDot);
    const targetSlide = slides[targetIndex];

    moveToSlide(track, currentSlide, targetSlide);
    updateDots(currentDot, targetDot);
    hideShowArrows(slides, prevButton, nextButton, targetIndex);
  });
</script> -->



<script type="text/javascript">
  $(document).on("scroll", function() {
    var pageTop = $(document).scrollTop();
    var pageBottom = pageTop + $(window).height();
    var tags = $(".tag");

    for (var i = 0; i < tags.length; i++) {
      var tag = tags[i];

      if ($(tag).position().top < pageBottom) {
        $(tag).addClass("visible");
      } else {
        $(tag).removeClass("visible");
      }
    }
  });
</script>


  <!-- <div class="text">
    <p>
      The first independent style hunter club sourcing on-demand the finest of your wardrobe. Now and everywhere
    </p>
    <h6>- Le Huntist Trademark Owned by Advanced Retail SAS -</h6>
  </div> -->


