

<div class="wrapper">
  <h1>Basic Grid</h1>
  <div class="Grid Grid--full u-textCenter">


  </div>

  <div class="Grid Grid--gutters Grid--cols-4 u-textCenter">
    <div class="Grid-cell">
      <div class="Demo content-1of4">
      </div>
    </div>
    <div class="Grid-cell">
      <div class="Demo content-1of4">
      </div>
    </div>
    <div class="Grid-cell">
      <div class="Demo content-1of4">
      </div>
    </div>
    <div class="Grid-cell">
      <div class="Demo content-1of4">
      </div>
    </div>
  </div>
</div>
