.navbar-lewagon {
  z-index: 5000;
  position: absolute;
  top: 0vh;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  background: #24262b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2rem;
  color: #faf6e9 !important;
  padding-right: 5.5rem !important;
}

.navbar-brand h3 {
  font-size: 40px;
  color: #80A1D4;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 900;
  padding-left: 9rem;
}




.middle {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouse {
    width: 50px;
    height: 90px;
    border: 4px solid white;
    border-radius: 60px;
}

.mouse::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 2s infinite;
}

@keyframes mouse {
    from {
        opacity: 1;
        top: 30px;
    }
    to {
        opacity: 0;
        top: 90px;
    }
}


#hello {
  border: none;
  background: transparent;
}

#hello img {
  padding-bottom: 10px;
  height: 50px;
}




 // #hello {
 //      position: relative;
 //      width: 212px;
 //      height: 100px;
 //      box-sizing: content-box;
 //    }
 //    #hello:before,
 //    #hello:after {
 //      content: "";
 //      box-sizing: content-box;
 //      position: absolute;
 //      top: 0;
 //      left: 0;
 //      width: 60px;
 //      height: 60px;
 //      border: 20px solid red;
 //      border-radius: 50px 50px 0 50px;
 //      transform: rotate(-45deg);
 //    }
 //    #hello:after {
 //      left: auto;
 //      right: 0;
 //      border-radius: 50px 50px 50px 0;
 //      transform: rotate(45deg);
 //    }
